@(msg: String, form1: Form[forms.LoginForm])

@main("メッセージボード - ログイン -") {
  <h1>メッセージボードログイン</h1>
  <p>@msg</p>

  @helper.form(action = routes.MessageBoard.login) {
    <!-- CSRF対策用トークンをhidden出力 -->
    @helper.CSRF.formField

    @if(form1.hasGlobalErrors) {
      <p>@form1.globalError.message</p>
    }

    @helper.inputText(field = form1("username"), '_label -> "ユーザ名")
    @helper.inputText(field = form1("password"), '_label -> "パスワード")

    @simpleInput("submit", "", "", "送信")
  }

  <p><a href="@routes.MessageBoard.showNewUser" >ユーザ作成</a></p>
}