@(form1: Form[Message])

@main("メッセージボード - メッセージ投稿 -") {
    <h1>メッセージ投稿</h1>
    <p>以下に情報を入力して、送信ボタンを押してください。</p>

    <!-- フォームのエラーメッセージ表示 -->
    @if(form1.hasGlobalErrors) {
      <h2>@form1.globalError.message</h2>
    }

    @helper.form(action = routes.MessageBoard.create) {
      @helper.inputText(field = form1("name"), '_label -> "お名前")
      @helper.inputText(field = form1("mail"), '_label -> "メールアドレス")
      @helper.textarea(field = form1("message"), '_label -> "本文")
      <input type="submit" value="送信" />
    }

    <p><a href="@routes.MessageBoard.index" >メッセージを閲覧</a></p>
}
